# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# IDE
.vscode/
.idea/

# Temp files
backend/temp/
*.xlsx
*.pdf

# Node modules
frontend/node_modules/
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# Test files
statement.pdf
excel-statement.xlsx
